## Домашнее задание к лекции.

### Задание 1**
### Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
### - оценка 2 и меньше - низкий рейтинг
### - оценка 4 и меньше - средний рейтинг
### - оценка 4.5 и 5 - высокий рейтинг
### Результат классификации запишите в столбец class

In [9]:
import pandas as pd 
data = pd.read_csv('ratings.csv','r', delimiter=',')#открываем файл убедиться что он рабочий 
data.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [6]:
def raiting_class_simple(some_data): #пишем функцию 
    ls=[] # Задаём пустой список
    for line in data.rating: #задаём цикл for к каждой линиии в файле data.rating(data(в столбце rating))
        if line>=4.5: #Задаём условие что если в столбце rating обценка выше 4,5 присваеваем значение "высокий рейтинг"
            ls.append('высокий рейтинг') #С помощью ls.append (Добавляет указанный элемент в конец списка)
        elif 2<line<4.5:
            ls.append('средний рейтинг')
        elif line<=2:
            ls.append('низкий рейтинг')
    data['class']=ls #создать в файле data новый Столбец(список),и присвоить ему значение строки из цикла значение ls
    return data #return говорит, что нужно вернуть значение 
    
data2=raiting_class_simple(data) #Новый файл data2 получится если = применяем функцию (raiting_class_simple) к переменной(файлу data)
data2.loc[1:15]

    userId  movieId  rating   timestamp            class
1        1      306     3.5  1147868817  средний рейтинг
2        1      307     5.0  1147868828  высокий рейтинг
3        1      665     5.0  1147878820  высокий рейтинг
4        1      899     3.5  1147868510  средний рейтинг
5        1     1088     4.0  1147868495  средний рейтинг
6        1     1175     3.5  1147868826  средний рейтинг
7        1     1217     3.5  1147878326  средний рейтинг
8        1     1237     5.0  1147868839  высокий рейтинг
9        1     1250     4.0  1147868414  средний рейтинг
10       1     1260     3.5  1147877857  средний рейтинг
11       1     1653     4.0  1147868097  средний рейтинг
12       1     2011     2.5  1147868079  средний рейтинг
13       1     2012     2.5  1147868068  средний рейтинг
14       1     2068     2.5  1147869044  средний рейтинг
15       1     2161     3.5  1147868609  средний рейтинг

## Задание 2
### Используем файл keywords.csv.

In [11]:
import pandas as pd
data = pd.read_csv('keywords.csv') #обращаемся к файлу с которым работать keywords.csv

def geo_cl(row): # создаем функцию 
    if 'москва' in row['keyword'] or 'тула' in row['keyword'] or 'ярославль' in row['keyword']:
        return 'Центр'
    elif 'петербург' in row['keyword'] or 'псков' in row['keyword'] or 'псков' in row['keyword']:
        return 'Северо-Запад'
    elif 'владивосток' in row['keyword'] or 'сахалин' in row['keyword'] or 'хабаровск' in row['keyword']:
        return 'Дальний Восток'
    else:
        return 'undefined'

# прогоняем функцию с помощью апплай
data['region'] = data.apply(geo_cl, axis=1)

# проверяем, сколько значений, отличных от 'undefined', получилось в итоге
data['region'].value_counts()

undefined         99281
Центр               387
Северо-Запад        238
Дальний Восток       94
Name: region, dtype: int64